nav {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}
.hunt{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    width: 120px;
}
.fa-chart-simple{
    font-size: large;
}
.divul ul{
    display: flex;
    list-style: none;
    gap: 10px;
    position: absolute;
    left: 1300px;

}